body {
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff
}

a {
    color: #fff;
    text-decoration: none;
}

/* HEADER */

.header {}

p {
    color: #fff;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* gap расстояние между элементами в flexbox модели */

.container {
    max-width: 1240px;
    margin: 0 auto;
    color: #fff;
    padding: 0 15px;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 110px;
}

.header__logo {}

.logo__img {}

.logo__text {}

.header_login {
    display: flex;
    gap: 12px;
}
main {
    margin-top: 29px;
}

/* WELCOME */
.welcome {
    padding-bottom: 50px;
    
}
.welcome__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-right: 80px; */
    margin-bottom: 83px;
}

.welcome__desc {
    padding-left: 100px;
}

.welcome__title {
    font-family: var(--font3);
    font-weight: 700;
    font-size: 4rem;
    line-height: 109%;
    margin-bottom: 130px;

}

.welcome__text {
    position: relative;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 1.25rem;

    /* отступ слева */
    padding-left: 130px;
    width: 380px;

}

.welcome__text::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 125px;
    left: 0px;
    bottom: 50px;

    border-radius: 100%;
    /* fill: rgba(96, 92, 234, 0.5); */
    filter: blur(50px);
    opacity: 0.7; 
    background: rgba(96, 92, 234, 0.5);
    /* background-image: url('/img/round.svg'); */
}

.welcome__text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 60px;

    width: 130px;
    height: 4px;
    transform: rotate(121deg);
    background-color: #fff
}

/* content: "" - указали пустой контент что бы псевдоэлемент сработал */
.welcome__img {
    width: 20.81rem;
    height: 41.75rem;
    margin-right: 73px;
    /* padding-left: 70px; */
}

.weclome__container {
    position: relative;
}

.weclome__container::after {
    content: "";
    width: 660px;
    height: 790px;

    /* display: block; */
    position: absolute;
    right: -180px;
    top: -140px;
    background-image: url('/img/dg-weclome.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

}

.welcome__cta  {
    padding-right: 60px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cta__text {
    font-family: var(--font3);
    font-weight: 700;
    font-size: 2.19rem;
    line-height: 200%;
    padding-left: 130px;
}

.welcome__cta {
    font-weight: 700;
    font-size: 2.19rem;
    line-height: 200%;
}
.cta__links {
    display: flex;
    gap: 30px;
}

/* MISSION */

.mission {
/* padding: 150px 0; */
}

.mission__container {
position: relative;
padding: 150px 85px 150px 0px;
}

.mission__img {
    transform: rotate(90deg) translate(-43%);
    position: absolute;
    width: 31.12rem;
    height: 62.44rem;
    /* right: 50%; */
    top: 0;
    z-index: -1;
}

.mission__desc {
    display: block;
    margin-left: auto;
    width: 320px;
    padding-right: 84px;
}

.mission__title {
    position: relative;
    font-family: var(--font3);
    font-weight: 700;
    font-size: 3.19rem;
    margin-bottom: 30px;
}

.mission__text {
    /* font-family: var(--third-family); */
    font-weight: 400;
    font-size: 1.12rem;
    
}

.mission__text::after {
    content: "";
    position: absolute;
    /* border-radius: 100%; */
    width: 85px;
    height: 85px;

    right: 55px;
    top: 7px;
    background:#f101bf;
    opacity: 0.7;
    
    z-index: -1;
    /* fill: #f101bf; */
    filter: blur(50px);
    /* background-image: url('/img/round_mission.svg'); */
}
