@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,600;1,600&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif 
}

.header {
    display: flex;
    align-items: center;
    gap: 110px;
}

.logo {
    display: flex;
    gap: 8px;
}
/* 
Avenir, sans-serif 
*/
