body {
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif
}

a {
    color: #fff;
    text-decoration: none;
}


.header {}

p {
    color: #fff
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* gap расстояние между элементами в flexbox модели */

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 110px;
}

.header__logo {}

.logo__img {}

.logo__text {}

.header_login {
    display: flex;
    gap: 12px;
}

.welcome__title {
    color: #fff
}

.welcome__text {
    
}
